@use "styleVars" as v;


.new-tweet {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  
  #tweet-text {
    display: flex;
    resize: none;
    width: 100%;
    background-color: v.$backgroundColor;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-color: black;
    border-bottom-width: 3px;
  }
  
  .tweet-input-div {
    font-weight: bold;
  }
  
  #tweet-text:focus {
    outline: none;
  }
  
  .below-tweet {
    display: flex;
    justify-content: space-between;
    font-family: 'Bungee', cursive, sans-serif;
    margin-top: 10px;

    #submit-btn {
      background-color: v.$navBlue;
      color: #FFFFFF;
      border: 0
    }
    
    #submit-btn:hover {
      box-shadow: 3px 3px #8A8B81
    }
    
    .too-many-chars {
      color: v.$errorRed
    }
  }
  
}

/* error message for invalid tweet */

.error-div {
  border: 4px solid v.$errorRed;
  border-radius: 2px;
  margin-bottom: 5px;
  
  #error-message {
    font-weight: bold;
    padding: 0 6px;
    color: v.$errorRed;
  }

  .fa-exclamation-triangle {
    color: v.$errorRed;
  }
  
  #first-triangle {
    margin-left: 38%;
  }
}


