@use "styleVars" as v;

.submitted-tweets {
  @include v.flexColumn;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;


  .indiv-tweet {
    width: 90%;
    border: 4px solid black;
    margin-bottom: 10px;
  }
  
  .indiv-tweet:hover {
    box-shadow: 5px 5px #8A8B81 ;
  }
  
  .tweet-header {
    @include v.flexRow;
    justify-content: space-between;
    margin-right: 3%;
    margin-left: 3%;

    .user-icon-name {
      @include v.flexRow
    }
    
    .tweeter-avatar {
      height: 64px;
      width: 64px;
      margin-top: 15px;
      margin-right: 5px;
    }
    
    #tweeter-handle {
      opacity: 0.5;
    }
  }
  
  
  .tweet-body {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin-right: 3%;
    margin-left: 4%;
  }

  h3 {
    word-break: break-all;
  }
  
  .tweet-footer {
    @include v.flexRow;
    width: 96%;
    height: 70px;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 10px;
    border-top: 4px solid black; 

    #date-posted {
      display: flex;
      align-items: center;
      margin-left: 3%;
      margin-top: 10px
    }
    
    .tweet-footer-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: v.$navBlue;
      margin-right: 2%;
      margin-bottom: 30px;
    
      .fa-flag {
        padding-right: 5px;
      }
      
      .fa-retweet {
        padding-right: 5px;
      }
      
      .fa-flag:hover {
        color: v.$iconColor;
      }
      
      .fa-retweet:hover {
        color: v.$iconColor;
      }
      
      .fa-heart:hover {
        color: v.$iconColor;
      }
    }
  }
}
