.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("/images/beige-paper.png");
  background-color: #71715b;
  color: #FFFFFF;
  padding-top: 120px;
}

